RewriteEngine On
RewriteRule ^([a-z][a-z])/(.*)$ index.php?lang=$1&request=$2 [QSA]

#ExpiresActive On
#ExpiresDefault "access plus 1 year"

SetOutputFilter DEFLATE

Options -Indexes

Redirect /wl /wienerlinien
Redirect /wldev /wienerlinien_dev
Redirect /cb /~paulchen/chatbox/?refresh=on
Redirect /cb_dev /~paulchen/chatbox_dev/?refresh=on
Redirect /cb-dev /~paulchen/chatbox_dev/?refresh=on
Redirect /cbdev /~paulchen/chatbox_dev/?refresh=on
Redirect /chatbox /~paulchen/chatbox/?refresh=on

